In [1]:
import pandas as pd

In [ ]:
# creating a variable to hold data from Incident data
incident_data_1 = pd.read_csv('LFB Incident data from 2009 - 2017.csv', low_memory=False, index_col='IncidentNumber')
incident_data_2 = pd.read_csv('LFB Incident data from 2018 onwards.csv',low_memory=False, index_col= 'IncidentNumber')

In [27]:
# changing format to datetime
incident_data_1['DateOfCall']=pd.to_datetime(incident_data_1['DateOfCall'], format='mixed', dayfirst=True)
incident_data_2['DateOfCall']=pd.to_datetime(incident_data_2['DateOfCall'], format='mixed', dayfirst=True)

#Merging the incident data in one variable. Importing only data from 2016 onwards.
incident_data_1_2016 = incident_data_1[incident_data_1['DateOfCall'].dt.year >= 2016]

#merging the data
incident_data = pd.concat([incident_data_1_2016, incident_data_2], axis=0)  #concatenating the data

Understand the columns by using the excel sheet.

Be careful of the Incident ID. Before 2016 you cannot join the two datasets. Just work on after 2016. Maybe it's another year.

In [22]:
# creating variables to hold data from Mobilisation data

mobilisation_data_3 = pd.read_excel('LFB Mobilisation data from 2015 - 2020.xlsx', index_col=0)
mobilisation_data_4 = pd.read_csv('LFB Mobilisation data from 2021 - 2024.csv',low_memory=False, index_col=0)
#mobilisation_data_5 = pd.read_excel('LFB Mobilisation data from January 2009 - 2014.xlsx') # since we are not using this data, we will not import it

In [ ]:
# changing the format of the Column CalYear to datetime
mobilisation_data_3['CalYear']=pd.to_datetime(mobilisation_data_3['CalYear'], format='%Y')
mobilisation_data_4['CalYear']=pd.to_datetime(mobilisation_data_4['CalYear'], format='%Y')

In [28]:
# Merging the Mobilisation data in one variable. Importing only data from 2016 onwards.
mobilisation_data = pd.concat([mobilisation_data_3[mobilisation_data_3['CalYear'].dt.year >=2016], mobilisation_data_4], axis=0)  #concatenating the data

C:\Users\Akanchha\AppData\Local\Temp\ipykernel_16428\1735420219.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  mobilisation_data = pd.concat([mobilisation_data_3[mobilisation_data_3['CalYear'].dt.year >=2016], mobilisation_data_4], axis=0)  #concatenating the data

In [30]:

# Preview of final data
display(incident_data.head(3))
display(mobilisation_data.head(3))

,DateOfCall,CalYear,TimeOfCall,HourOfCall,IncidentGroup,StopCodeDescription,SpecialServiceType,PropertyCategory,PropertyType,AddressQualifier,...,FirstPumpArriving_AttendanceTime,FirstPumpArriving_DeployedFromStation,SecondPumpArriving_AttendanceTime,SecondPumpArriving_DeployedFromStation,NumStationsWithPumpsAttending,NumPumpsAttending,PumpCount,PumpMinutesRounded,Notional Cost (£),NumCalls
IncidentNumber,,,,,,,,,,,,,,,,,,,,,
000001-01012016,2016-01-01,2016,00:03:17,0,False Alarm,False alarm - Good intent,NaN,Dwelling,House - single occupancy,Correct incident location,...,165.0,Plumstead,NaN,NaN,1.0,1.0,1,60,298,2.0
000002-01012016,2016-01-01,2016,00:04:09,0,Special Service,Special Service,Lift Release,Dwelling,Purpose Built Flats/Maisonettes - 4 to 9 storeys,Correct incident location,...,NaN,NaN,NaN,NaN,1.0,1.0,1,60,298,3.0
000003-01012016,2016-01-01,2016,00:04:41,0,Fire,Primary Fire,NaN,Dwelling,House - single occupancy,On land associated with building,...,159.0,Plumstead,334.0,Erith,2.0,2.0,2,60,298,1.0

,CalYear,HourOfCall,ResourceMobilisationId,Resource_Code,PerformanceReporting,DateAndTimeMobilised,DateAndTimeMobile,DateAndTimeArrived,TurnoutTimeSeconds,TravelTimeSeconds,...,DeployedFromStation_Code,DeployedFromStation_Name,DeployedFromLocation,PumpOrder,PlusCode_Code,PlusCode_Description,DelayCodeId,DelayCode_Description,BoroughName,WardName
IncidentNumber,,,,,,,,,,,,,,,,,,,,,
000001-01012016,2016-01-01,0,4620744,E252,1,2016-01-01 00:03:17,2016-01-01 00:04:01,2016-01-01 00:06:02,44.0,121.0,...,E25,Plumstead,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,NaN,NaN
000003-01012016,2016-01-01,0,4620745,E251,1,2016-01-01 00:04:41,2016-01-01 00:05:42,2016-01-01 00:07:20,61.0,98.0,...,E25,Plumstead,Home Station,1,Initial,Initial Mobilisation,NaN,NaN,NaN,NaN
000003-01012016,2016-01-01,0,4620746,E271,2,2016-01-01 00:04:41,2016-01-01 00:05:31,2016-01-01 00:10:15,50.0,284.0,...,E27,Erith,Home Station,2,Initial,Initial Mobilisation,NaN,NaN,NaN,NaN

In [31]:
display(incident_data.info())
display(mobilisation_data.info())
#print(incident_data_2.HourOfCall.value_counts())

<class 'pandas.core.frame.DataFrame'>
Index: 1013388 entries, 000001-01012016 to 222251-31122024
Data columns (total 38 columns):
 #   Column                                  Non-Null Count    Dtype
---  ------                                  --------------    -----
 0   DateOfCall                              1013388 non-null  datetime64[ns]
 1   CalYear                                 1013388 non-null  int64
 2   TimeOfCall                              1013388 non-null  object
 3   HourOfCall                              1013388 non-null  int64
 4   IncidentGroup                           1013382 non-null  object
 5   StopCodeDescription                     1013388 non-null  object
 6   SpecialServiceType                      350758 non-null   object
 7   PropertyCategory                        1013382 non-null  object
 8   PropertyType                            1013382 non-null  object
 9   AddressQualifier                        1013387 non-null  object
 10  Postcode_full                           465840 non-null   object
 11  Postcode_district                       1013388 non-null  object
 12  UPRN                                    1013388 non-null  float64
 13  USRN                                    1013388 non-null  float64
 14  IncGeo_BoroughCode                      1013388 non-null  object
 15  IncGeo_BoroughName                      1013388 non-null  object
 16  ProperCase                              1013388 non-null  object
 17  IncGeo_WardCode                         1012816 non-null  object
 18  IncGeo_WardName                         1012816 non-null  object
 19  IncGeo_WardNameNew                      1012816 non-null  object
 20  Easting_m                               465840 non-null   float64
 21  Northing_m                              465840 non-null   float64
 22  Easting_rounded                         1013388 non-null  int64
 23  Northing_rounded                        1013388 non-null  int64
 24  Latitude                                465840 non-null   float64
 25  Longitude                               465840 non-null   float64
 26  FRS                                     1013388 non-null  object
 27  IncidentStationGround                   1013387 non-null  object
 28  FirstPumpArriving_AttendanceTime        954506 non-null   float64
 29  FirstPumpArriving_DeployedFromStation   954497 non-null   object
 30  SecondPumpArriving_AttendanceTime       371973 non-null   float64
 31  SecondPumpArriving_DeployedFromStation  371967 non-null   object
 32  NumStationsWithPumpsAttending           1003524 non-null  float64
 33  NumPumpsAttending                       1003524 non-null  float64
 34  PumpCount                               1013388 non-null  int64
 35  PumpMinutesRounded                      1013388 non-null  int64
 36  Notional Cost (£)                       1013388 non-null  int64
 37  NumCalls                                1013360 non-null  float64
dtypes: datetime64[ns](1), float64(11), int64(7), object(19)
memory usage: 301.5+ MB

None

<class 'pandas.core.frame.DataFrame'>
Index: 1479251 entries, 000001-01012016 to 221558-30122024
Data columns (total 23 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   CalYear                   1479251 non-null  datetime64[ns]
 1   HourOfCall                1479251 non-null  int64
 2   ResourceMobilisationId    1479251 non-null  int64
 3   Resource_Code             1479251 non-null  object
 4   PerformanceReporting      1479251 non-null  object
 5   DateAndTimeMobilised      1479251 non-null  object
 6   DateAndTimeMobile         1470168 non-null  object
 7   DateAndTimeArrived        1479251 non-null  object
 8   TurnoutTimeSeconds        1470135 non-null  float64
 9   TravelTimeSeconds         1470038 non-null  float64
 10  AttendanceTimeSeconds     1479251 non-null  int64
 11  DateAndTimeLeft           1478649 non-null  object
 12  DateAndTimeReturned       1 non-null        datetime64[ns]
 13  DeployedFromStation_Code  1479227 non-null  object
 14  DeployedFromStation_Name  1479227 non-null  object
 15  DeployedFromLocation      1478093 non-null  object
 16  PumpOrder                 1479251 non-null  int64
 17  PlusCode_Code             1479251 non-null  object
 18  PlusCode_Description      1479251 non-null  object
 19  DelayCodeId               360213 non-null   float64
 20  DelayCode_Description     360213 non-null   object
 21  BoroughName               725017 non-null   object
 22  WardName                  724254 non-null   object
dtypes: datetime64[ns](2), float64(3), int64(4), object(14)
memory usage: 270.9+ MB

None

Share via Github